   
@*
<div class="mb-3 ">
    <label class="form-label" for="@Id">@Label</label>
    <div class="ms-container">
        <input type="text" class="multiselect " id="@Id" name="fruits" placeholder="@Placeholder" optionsLabel="@(string.Join(",", ValueMapping.Keys))" optionsValue="@(string.Join(",", ValueMapping.Values))" value=""/>
    </div>
</div>}@
   
*@
<style>
    * {
        box-sizing: border-box;
        --theme-color: #56438f;
        --theme-txtcolor: #56438f;
        --theme-bgcolor: white;
    }

    body {
        padding: 20px;
        color: var(--theme-txtcolor);
    }

    .form-element {
        height: 60px;
    }

    label {
        user-select: none;
    }
    
    .ms-container {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;  
        width: 100%;
    }

    .ms-inp-parent {
      /*  max-width: 200px; */
        border-radius: 5px;
        max-height: 40px;
        color: var(--theme-txtcolor);
    }

    .ms-inp-parent > .ms-inp-element {
        border: 1px solid var(--theme-color);
        border-radius: 5px;
        height: 30px;
        padding: 5px;
        width: calc(100% - 20px);
        color: var(--theme-txtcolor);
    }

    .ms-inp-parent:before {
        content: "▼";
        color: var(--theme-color);
        float: right;
        position: relative;
        top: 7px;
        right: 27px;
    }

    .ms-inp-optionList {
        display: none;
        position: relative;
        top: -1px;
        max-height: 150px;
        width: calc(100% - 20px);
        padding: 5px;
        overflow-y: scroll;
        background-color: var(--theme-bgcolor);
        border: 1px solid var(--theme-color);
        border-radius: 5px;
        z-index: 1;
    }

    .ms-inp-optionList > label {
        display: block;
        height: 20px;
    }

    .ms-inp-optionList::-webkit-scrollbar {
        display: none;
    }

    .ms-inp-parent:focus-within .ms-inp-optionList {
        display: block;
    }

    .ms-inp-parent:focus > .ms-inp-optionList {
        display: block;
    }

</style>