@using System.Linq.Expressions


<div class="mb-3">
    @if (Label != null)
    {
        <label class="form-label" for="@Id">@Label</label>
    }
    
    <InputSelect class="form-select" @bind-Value="@Value">
        @foreach (var val in ValueList)
        {
            <option class="" value="@val.Value">@val.Name</option>
        }
    </InputSelect>
</div>




@code {
    [Parameter] 
    public string Id { get; set; } = Guid.NewGuid().ToString();
    [Parameter]
    public string? Label { get; set; }
    [Parameter]
    public int? Value { get; set; }
    [Parameter] 
    public List<(int Value, string Name)> ValueList { get; set; } = [];
    [Parameter]
    public EventCallback<int?> ValueChanged { get; set; }
    [Parameter]
    public Expression<Func<int?>> ValueExpression { get; set; }
}